<div class="container">
<h2>Creating Loan. Please wait ...</h2>
<div class="progress">
  <div class="progress-bar" style="width:<%= @progress %>%"> 
    <meta http-equiv="refresh" content="1">
  </div>
</div>
</div>
